/* Styling for Elements */

body {
     font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
     color: #777;
     background-color: #777;
     width: 960px;
     font-size: 18px;
     margin: auto;
     line-height: 34px;
}

header {
    margin: 10px;
    display: block;
    padding: 10px;
    text-align: center;
    background: #ebebeb;
}

nav {
    margin: 10px;
    padding: 10px;
    display: block;
    text-align: center;
    background: #ebebeb;
}

section {
    margin: 10px;
    padding: 10px;
    display: block;
    float: left;
    width: 495px;
    height: 275px;
    overflow: hidden;
    text-align: center;
    background-color: #ebebeb;
}

article {
    padding: 10px;
    color: #ebebeb;
    background-color: #777;
}

p {
    width: 90%; 
    margin: 10px;
    padding: 10px;
    color: #777;
    background: #ebebeb;
    text-align: center;
}

aside {
    margin: 10px;
    padding: 10px;
    display: block;
    float: right;
    width: 40%;
    height: 275px;
    overflow: hidden;
    text-align: center;
    background-color: #ebebeb;
}


footer {
    margin: 10px;
    padding: 10px;
    display: block;
    text-align: center;
    background-color: #ebebeb;
}
 

h1 {
    width: 90%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: #777;
    background: #ebebeb;
}




/* stlying for classes */

.clear {
    clear: both;
  }

